extends layout

block content
	h1.titulo= title
	p Welcome to #{title}

	.card-group(style='width: 70%;')
		.card(style='width: 10rem;')
				img.card-img-top(src='/images/angularSmall.png', alt='Card image cap', style='width: 100%; height: 100%;')
				.card-body
					h5.card-title Angular Front-end
					p.card-text
						| The Angular client is built with the latest tech to provide the best experience in dinamyc sites.
					a.btn.btn-raised(href='http://localhost:8080/tabs/tab1') Go to Angular
		.card(style='width: 10rem;')
				img.card-img-top(src='/images/apiScreen.png', style='width: 100%; height: 100%;', alt='Card image cap')
				.card-body
					h5.card-title RESTful JSON API
					p.card-text
						| Retrieve info from the MongoDB directly so you can build services on top of our data layer.
					a.btn.btn-raised(href='http://localhost:3000/api/trips', type='button') Go to API
