doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css', integrity='sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX', crossorigin='anonymous')
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
		link(rel='manifest', href='/site.webmanifest')

	body
	.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a(href='/')
						img(border='0', alt='Logo Universidad de almería', src='/images/contratipoHorizontal.png')
		
	.container
		block content

		//- .card(style='width: 14rem;')
		//- 	img.card-img-top(src='/images/angularScreen.png', style='width: 14rem; height: 14rem;', alt='Card image cap')
		//- 	.card-body
		//- 		h5.card-title Angular Front-end
		//- 		p.card-text
		//- 			| The Angular client is built with the latest tech to provide the best experience in dinamyc sites.
		//- 		button.btn.btn-raised(href='#', type='button') Go to Angular
		//- .card(style='width: 14rem;')
		//- 	img.card-img-top(src='/images/apiScreen.png', style='width: 14rem; height: 14rem;', alt='Card image cap')
		//- 	.card-body
		//- 		h5.card-title RESTful JSON API
		//- 		p.card-text
		//- 			| Retrieve info from the MongoDB directly so you can build services on top of our data layer.
		//- 		button.btn.btn-raised(href='#', type='button') Go to API

		footer
			.row
				.col-xs-12
					small &copy; Developer: David Béjar Cáceres 2019
					img(src='/images/escudoMonocromo.png')

	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
	script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js' integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
	script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js', integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9', crossorigin='anonymous')

